@charset "utf-8";
html{
    max-width: 1200px;
    margin:0 auto;
    width: 100%;
}
ul.topnav {
    max-width:650px;
    list-style-type: none;
    margin: 10px 100px 2px 350px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
ul.topnav li {float: left;}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color:  #f36;}
.active {background-color:  #f36;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
}
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

hr {
    display: block;
    margin: 1em 6em 0.5em 5em;
    border-style: inset;
    border-width: 1px;
}
body{
    height: 600px;
    min-width: 320px;
    text-align: center;
    background-image: url(images/bac.png);
    background-repeat: no-repeat;
}

#text{
    text-align:center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size:2em;
}
#photo{
    float:left;
}
header, footer{
    width:98%;
    float: left;
}
header{
    margin-top: 0;
    padding: 1%;
}

nav{
    font-size: 1em;
    font-family: Georgia;
    margin-left: 15px;
}
footer{
    margin-top: 0;
    padding: 1%;
    padding-bottom: 2%;
}
#page-wrap:after{
    content: "";
    display: block;
}
footer, #page-wrap:after{
    height: 1px;
}
#page-wrap{
    min-height: 94%;
    margin-bottom: -5px;
}
.left{
    float:left;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
