@charset "utf-8";
html{
    max-width: 1200px;
    margin:0 auto;
    width: 100%;
}
ul.topnav {
    max-width:650px;
    list-style-type: none;
    margin: 10px 100px 2px 350px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

ul.topnav li {float: left;}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color:  #f36;}
.active {background-color:  #f36;}

ul.topnav .icon {display: none;}

hr {
    display: block;
    margin: 1em 6em 0.5em 5em;
    border-style: inset;
    border-width: 1px;
}
header{
    margin-top:-50px;
     text-align: center;
}
body{
    font-size: 1.5em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
}
h2,h6{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    text-align: right;
    margin-right:100px;
}
#aboutme img{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    margin-left:150px;
    float:left;
}
header, footer{
    float: left;
}
nav{
    font-size: 1em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: lighter;
    margin-left: 15px;
}
footer{
    margin-top: 0;
    padding: 1%;
    padding-bottom: 2%;
}
/*#page-wrap:after{
    content: "";
    display: block;
}
footer, #page-wrap:after{
    height: 1px;
}
#page-wrap{
    min-height: 94%;
    margin-bottom: -5px;
}
works without it*/ 