@charset "utf-8";
html{
    max-width: 1200px;
    margin:0 auto;
    width: 100%;
}
ul.topnav {
    max-width:650px;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-right: 100px;
    margin-left: 350px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

ul.topnav li {float: left;}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color:  #f36;}
a.active {background-color:  #f36;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 5em;
    margin-right: 6em;
    border-style: inset;
    border-width: 1px;
}
body{
    font-size: 1.5em;
    font-family: Georgia;
}
.social{
    padding: 5px;
    margin-left: 7px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 3.5em;
}
img{
    max-width: 100%;
    height: auto;
    border-radius:10px;
}
.thanks{
    text-align: center;
    font-size:3em;
    color:#EC2A15;
}
header, footer{
    width:98%;
    background-color: #ffffff;
    float: left;
}
header{
   margin-top: 0;
    padding: 1%;
    
    text-align: center;
}

nav{
    font-size: 1em;
    font-family: Georgia;
    margin-left: 15px;
    
    text-align: center;
}
footer{
    margin-top: 0;
    padding: 1%;
    padding-bottom: 2%;
}
#page-wrap:after{
    content: "";
    display: block;
}
footer, #page-wrap:after{
    height: 1px;
}
#page-wrap{
    min-height: 94%;
    margin-bottom: -5px;
}
.left{
    float:left;
}
.right{
    float:right;
}
