@charset "utf-8";
html{
    max-width: 1200px;
    margin:0 auto;
    width: 100%;
}
ul {
    max-width:650px;
    list-style-type: none;
    margin: 10px 100px 2px 350px;       
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
ul.topnav {
    max-width:650px;
    list-style-type: none;
    margin: 10px 100px 2px 350px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
ul.topnav li {float: left;}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.topnav li a:hover {background-color:  #f36;}
.active {text-decoration: none;}
ul.topnav .icon {display: none;}
hr {
    display: block;
    margin: 1em 6em 0.5em 5em;
    border-style: inset;
    border-width: 1px;
}
body{
    height: 730px;
    min-width: 550px;
    font-size: 1.5em;
    font-family: Georgia;
    text-align: center;
}
header{
    font-size: 1.5em;
    font-family: Georgia;
    text-align: center;
    margin-top: 0;
    padding: 1%;
}
h1{
     font-size: 2.5em;
    font-family: Georgia;
}
nav{
    font-size: 1em;
    font-family: Georgia;
    margin-left: 15px;
}
footer{
     font-size: 1.5em;
    font-family: Georgia;
    text-align: center;
    margin-top: 0;
    padding: 1%;
    padding-bottom: 2%;
    height: 1px;
}
.left{
    float:left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width:200%;
      margin: auto;}
.carousel-control {
    top: 33%;
}